.logo {
    position: relative;
    width: 82px;
    height: 82px;
    padding: 12px;
    vertical-align: middle;
}
.explanation{
   border: black 10px;
   shadow: black 20px;
   margin-bottom: 20px;
}
.description {
color: #CEF0D4;
font-family: 'Rouge Script', cursive;
font-size: 34px;
font-weight: normal;
line-height: 48px;
text-align: left;
text-shadow: 1px 1px 2px #082b34;
}

#title1 {

 color: #bbc3c8;
 display: inline-block;
 font-family: 'Georgia', serif;
 font-style: italic;
 font-size: 18px;
 line-height: 22px;
 margin: 0px 0px 20px;
}
#title2 {
color: #2CA4B0;
font-family: 'Verdana', italic;
font-size: 20px;
line-height: 32px;
text-shadow: 1px 0 0 #fff;
text-align: justify;
margin: 25px 10px 15px 0px;
}
.intro_button{
   border-top: 1px solid 11:31 PM 11/26/2016
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   width: 100%;
   height: 40px;
   }
.intro_button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   width: 100%;
   height: 40px;
   }
.intro_button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   width: 100%;
   height: 40px;
   }
#number-projects-nd {
   font-size: 60px;
}

#total-donations-nd {
   font-size: 60px;
}




.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}

#total-projects {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}

#net-donations {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}

.chart-stage{
    height: 250px;
}

#menu-select {
    height: 100px;
}

.dc-select-menu {
   background: #33CC99;
   width: 550px;
   border: none;
   position: relative;
   height: 131px;
   font-size: 15px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;

}